# Python Virtual environment for working on the Tempus project
tempus_env/

# Pytest Cache folder
.pytest_cache/

# dummy file - used to test idea/things in the repo - remove all of them in final version
faker.py
dumper.json
dumpery.json
duster.json
jupyter/

# pytest coverage info
.coverage

# python egg_info dir
.eggs/

# unsafe to store the news api key openly in your repo - ensure they are never exposed
.env
dags/config.py
