# Python Virtual environment for working on the Tempus project
tempus_env/

# Pytest Cache folders
__pycache__/
.pytest_cache/
dags/__pycache__/
dags/challenge/__pycache__/
dags/challenge/dto/__pycache__/
dags/challenge/extract/__pycache__/
dags/challenge/network/__pycache__/
dags/challenge/storage/__pycache__/
dags/challenge/transform/__pycache__/
dags/challenge/upload/__pycache__/
.cache/

# pytest coverage info
.coverage

# python egg_info dir
.eggs/

# aws directory
.aws/

# environmental variables used locally
.env
